#nav-bar {
    height: 5vh;
}

#nav-bar .navbar {
    padding-right: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ffd977;
    box-shadow: 1px 1px 1px 1px #ffd977;
    z-index: 1;
}

#nav-bar .nav-link {
    color: #000;
    font-weight: bold;
}

.right-side-nav {
    margin-left: auto;
}

#nav-bar .logo {
  width: 212px;
  padding-left: 45px;
}

#nav-bar .navbar-nav {
    text-transform: uppercase;
  }

#nav-bar .navbar-nav .nav-link:hover {
    color: #ffd977;
}

#nav-bar .search-icon {
    width: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

#nav-bar .bg-light {
    background-color: #fff !important;
}

#nav-bar .dark-icon {
    width: 35px;
}

#nav-bar #btn-dark {
    background-image: url(../img/day-and-night.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    color: black;
    border: 0;
    background-color: transparent;
    padding-left: 35px;
    font-size: 20px;
}

@media only screen and (max-width: 991px) {
    #nav-bar .navbar-collapse {
        margin-left: 20px;
    }

    #nav-bar .logo {
        padding-left: 18px;
    }
}