header {
    height: 5vh;
}

header .navbar {
    padding-right: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ffd977;
    box-shadow: 1px 1px 1px 1px #ffd977;
    z-index: 1;
}

header .nav-link {
    color: #000;
    font-weight: bold;
}

header .logo {
  width: 212px;
  padding-left: 45px;
}

header .navbar-nav {
    text-transform: uppercase;
  }

header .search-icon {
    width: 25px;
    margin-left: auto;
}

header .bg-light {
    background-color: #fff !important;
}

@media only screen and (max-width: 991px) {
    header .navbar-collapse {
        margin-left: 20px;
    }

    header .logo {
        padding-left: 18px;
    }
}