.recipes {
    min-height: auto;
    padding: 0;
}

.recipes_left {
    height: 95vh;
    background-color: #fff;
    background: url('https://www.simplyrecipes.com/thmb/Gc7ox1jTo2dUJHgi17eHEolw96g=/1200x0/filters:no_upscale():max_bytes(150000):strip_icc()/Simply-Recipes-Pollo-Campero-Fried-Chicken-LEAD-06-2f69971cf13d4c7089140d6a5d6c3165.jpg') center center/cover no-repeat;
}

.recipes_chicken {
    margin: 50% auto 0 auto;
    padding: 2%;
    width: 90%;
    height: auto;
    background-color: #fff;
    opacity: 0.87;
}

fieldset {
    border: 2px solid #ffd977;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 5%;
}

legend {
    font-size: 18px;
    text-align: center;
    color: #b5460f;
    font-weight: bold;
}

fieldset h2 {
    font-size: 2.5rem;
}

fieldset p {
    font-size: 1.1rem;
}

fieldset span {
    font-size: 1.1rem;
}

fieldset a {
    text-decoration: none;
    color: black;
}

fieldset a:hover {
    color: black;
    text-decoration: underline;
}


.recipes_right {
    min-height: auto;
    background-image:linear-gradient(rgb(255, 255, 255) 11rem, rgb(240, 249, 249) 17rem);
    padding: 0% 4%;
}

.recipes_header {
    margin: 0 auto;
    width: auto;
}

.recipes_right h2 {
    position: relative;
    font-size: 2.3em;
    border-bottom: 3px solid #ffd977;
    cursor: pointer;
    display: inline-block;
}

.recipes_right h2:hover {
    border-bottom: 3px solid #b5460f;
}

.card {
    border-radius: 0;
}

.card-img-top {
    border-radius: 0;
}

.recipe_right-title {
    color: #b5460f;
    font-size: 1rem;
}

.recipe_right-text {
    font-size: 1.5rem;
}


.recipes_time {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.recipes_time > .bi {
    margin: 0 10px 16px 0;
}

@media (max-width: 992px) {
    .recipes_chicken {
        margin: 30% auto 0 auto;
    }

}